section
  h3.nocaps Hvordan tilrettelegge for
  h1 Intrapenørskap
  h3.nocaps i større bedrifter
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@???](http://twitter.com/agresvig/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  
section
  h2 Agenda
  :markdown
    * Innledning - Hvorfor? **~5 min**
      - Stimulere talenter, beholde (Tøft marked)
      - Rekruttering
      - Stay relevant - henge med teknologisk
      - Salg - kunne selge innovative løsninger
    * Hvordan? **25 min**
      - Hackfest - **Hoveddtema 10 min**
      - Åpne opp - Fagkvelder, eksterne konferanser, GitHub **10 min**
    * Avslutning/Konklusjon **10 min**
      - Hva har vi fått til?
      - Resultater

section
  section
    h1 Hvorfor
   
  section
    h2 Motivasjon
    h3.fragment Stimulere talenter
    ul
      li.fragment Kreativ utfoldelse
      li.fragment Lære noe nytt
      li.fragment Følge med på utviklingen
      li.fragment Leke seg..
  
  section
    h2 Stay relevant
    ul
      li.fragment Stadig nytt teknisk terreng
      li.fragment Store prosjekter med "tradisjonell" teknologi
      li.fragment Hvordan henge med?

  section 
    h2 Rektruttering
    ul
      li.fragment Være attraktiv for de nye
      li.fragment Ha et innovativt ansikt 

  section
    h2 Salg
    ul
      li.fragment Selvtillit ovenfor kunden ift. nye teknologier
      li.fragment Ha "showcases" på lager