section
  h3.nocaps Facilitating
  h1 Intrapeneurship
  h3.nocaps in (larger) organizations
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@islomic](http://twitter.com/islomic/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  
section
  h2 Agenda
  ul
    li A little background (why)
    li Intrapeneurship at Accenture (how)
    li Results/Conclusion

  aside.notes: :markdown
    * Innledning - Hvorfor? **~5 min**
      - Stimulere talenter, beholde (Tøft marked)
      - Rekruttering
      - Stay relevant - henge med teknologisk
      - Salg - kunne selge innovative løsninger
    * Hvordan? **25 min**
      - Hackfest - **Hoveddtema 10 min**
      - Åpne opp - Fagkvelder, eksterne konferanser, GitHub **10 min**
    * Avslutning/Konklusjon **10 min**
      - Hva har vi fått til?
      - Resultater - tilfredshet, fagmiljø vokst, brukt hakfest-tech. i 2 kundeprosjekter
      - myOpinion

section
  section
    h2 A little background 
    h3 (why)  
  

  section(data-background='assets/images/accenture_software_overlay.jpg')
  aside.notes: :markdown
    * ACN -> verdens største
    * Bredt spekter av tjenester
  
  section
    h3.italic.blue "Architecture, Development & Integration"
    .fragment  
      h1 Software & Technology
      h2 Is our product
  
  aside.notes: :markdown
    * ADI -> Fokus på teknologi
    * Avhengige av inspirerte motiverte medarbeidere
    * Trenger kolleger med lidenskap for teknologi
    * som søker kontinuerlig forbedring

  section(data-background="assets/images/people.jpg")
    h1.orange.bold The challenge
    h2.cyan.fragment.bold.whiteglow  Passion 
    .fragment.whitebackground
      h2.cyan.bold + 
      h2.cyan.bold Context

    aside.notes: :markdown
      * Store kunder i offentlig og privat sektor
      * Helse, bank, olje
      * kostnads- og tids-kritiske prosjekter
      * Lengre engasjementer
      * Ikke ummidelbart arenaer for innovasjon, risiko

  section
    img.noborder(src="/assets/images/keep-calm-and-stay-relevant.jpg")
    aside.notes: :markdown
      * Skap arenaen
      * Alt som skal til er lidelse, interesse

  section
    h3.nocaps creating
    h1.bold.allcaps.magenta ARENAS
    h2.fragment.current-visible for development, innovation and creativity
    h2.fragment How?

  aside.notes: :markdown
    * Sett bort ifra gitte forutsetninger (konkurransedyktig lønn, goder) 
    * Må skape arenaer for innovasjon og kreativitet

  section
    h4 Facilitating
    h1.cyan.allcaps.bold Intrapeneurship

  section
    h3.nocaps generating
    h2.blue.allcaps a context
    ul
      li.fragment Gather passionate people
      li.fragment ..in a passionate, casual atmosphere
    
    aside.notes: :markdown
      * samle de med lidenskap
      * få en plattform for deling av kunnskap og kompetansebygging
      * flytende målsetning og ikke definert vei frem
      * legg til litt insentiver

  section(data-background='assets/images/synergy.jpg')
    h1.white.whiteglow Enjoy synergies
    
    aside.notes: :markdown
      * Utmerket utgangspunkt for innovasjon og kreativitet
  
  section
    h1.italic.cyan Capacity Building
    h3.fragment Acquiring knowledge
    h3.fragment Building skills

  section
    h1.italic.cyan Stimulating talent
    h3.fragment Unhindered flow of creativity and innovation
    h3.fragment Holding on to talent

  section
    h1.italic.cyan Branding 
    h3.fragment Open Up
    h3.fragment Be Visible
    h3.fragment Attract Talent
    
  section
    h1.italic.cyan Networking
    h3.fragment Knowledge & Experience Sharing

  section
    h1.italic.cyan Sales
    h3.fragment Mitigating Risk -> Building Confidence
    h3.fragment Leveraging New Technology
    h3.fragment Triple Win Factor
    
section
  section
    h1 HVORDAN

  section
    h1 Hackfest

  section
    img.noborder(src="/assets/images/human-tree.jpg")

  section
    h2 Åpne opp
    ul
      li.fragment Fagkvelder
      li.fragment GitHub
      li.fragment Skole-bidrag

  section
    h2 Bygge kompteanse
    ul
      li.fragment Workshops
      li.fragment Eksterne konferanser
      li.fragment Kurs

section 
  section
    h1 Avslutning / Konklusjon

  section
    h2 Resultater
    div: :markdown
     * deltagere på hackfest opp
     * eksterne foredrag og interne opp
     * Forespørsler fra skoler opp
     * For første gang (på flere år) kjørt åpne fagkvelder med bra oppslutning
     * Sammenlignet med tidligere år: faglig aktivitet langt høyere
