section
  h3.nocaps Hvordan tilrettelegge for
  h1 Intrapenørskap
  h3.nocaps i større bedrifter
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@islomic](http://twitter.com/agresvig/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  
section
  h2 Agenda
  :markdown
    * Innledning - Hvorfor? **~5 min**
      - Stimulere talenter, beholde (Tøft marked)
      - Rekruttering
      - Stay relevant - henge med teknologisk
      - Salg - kunne selge innovative løsninger
    * Hvordan? **25 min**
      - Hackfest - **Hoveddtema 10 min**
      - Åpne opp - Fagkvelder, eksterne konferanser, GitHub **10 min**
    * Avslutning/Konklusjon **10 min**
      - Hva har vi fått til?
      - Resultater

section
  section
    h1 Hvorfor
   
  section
    h2 Motivasjon

  section
    img.noborder(src="/assets/images/talent.jpg")

  section
    h4 Stimulere talenter
    ul
      li Kreativ utfoldelse
      li.fragment Lære noe nytt
      li.fragment Følge med på utviklingen
      li.fragment Leke seg..
  
  section
    h2 Utfordringer
    ul
      li.fragment Stadig nytt teknisk terreng
      li.fragment Store prosjekter med "tradisjonell" teknologi
      li.fragment Hvordan henge med?

  section 
    img.noborder(src="/assets/images/keep-calm-and-stay-relevant.jpg")

  section
    h2 Salg
    ul
      li.fragment Selvtillit ovenfor kunden ift. nye teknologier
      li.fragment Ha "showcases" på lager

section
  section
    h1 HVORDAN

  section
    h1 Hackfest

  section
    img.noborder(src="/assets/images/human-tree.jpg")

  section
    h2 Åpne opp
    ul
      li.fragment Fagkvelder
      li.fragment GitHub
      li.fragment Skole-bidrag

  section
    h2 Bygge kompteanse
    ul
      li.fragment Workshops
      li.fragment Eksterne konferanser
      li.fragment Kurs

section 
  section
    h1 Avslutning / Konklusjon

  section
    h2 Resultater
    div: :markdown
     * deltagere på hackfest opp
     * eksterne foredrag og interne opp
     * Forespørsler fra skoler opp
     * For første gang (på flere år) kjørt åpne fagkvelder med bra oppslutning
     * Sammenlignet med tidligere år: faglig aktivitet langt høyere
