section
  h3.nocaps Facilitating
  h1 Intrapreneurship
  h3.nocaps in (larger) organizations
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@islomic](http://twitter.com/islomic/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  
section
  h2 Agenda
  ul
    li A little background (why)
    li Intrapreneurship at Accenture (how)
    li Results & Takeaways

section
  section
    h2 A little background 
    h3 (the why)

  section(data-background='assets/images/accenture_software_overlay.jpg')
  aside.notes: :markdown
    * ACN -> verdens største
    * Bredt spekter av tjenester
  
  section
    h3.italic.blue "Architecture, Development & Integration"
    .fragment  
      h1 Software & Technology
      h2 Is our product
  
    aside.notes: :markdown
      * ADI -> Fokus på teknologi
      * Avhengige av inspirerte motiverte medarbeidere
      * Trenger kolleger med lidenskap for teknologi
      * som søker kontinuerlig forbedring
      * Engasjement utover 9 til 5

  section(data-background="assets/images/people.jpg")
    h1.orange.bold The challenge

    aside.notes: :markdown
      * Store kunder i offentlig og privat sektor
      * Helse, bank, olje
      * prosjekter kostnads- og tids-kritiske 
      * Lengre engasjementer
      * Ikke ummidelbart arenaer for innovasjon, risiko, eksperimentering
      * Ikke et alternativ å feile

  section
    img.noborder(src="assets/images/keep-calm-and-stay-relevant.jpg")
    aside.notes: :markdown
      * Men vi må henge med på utviklingen
      * Vi må holde oss oppdatert og relevant som leverandør av teknologi
      * Det krever mer enn 9 til 5

  section
    h3.nocaps creating
    h1.bold.allcaps.magenta ARENAS
    h2.fragment.current-visible for development, innovation and creativity
    h2.fragment How?

    aside.notes: :markdown
      * Må skape arenaer 
      * for utvikling, innovasjon og kreativitet

  section
    h4 Facilitating
    h1.cyan.allcaps.bold Intrapreneurship

    aside.notes: :markdown
      * Det handler kun om å fasilitere

  section
    h1.magenta.bold  Passion 
    .fragment
      h1.magenta.bold + 
      h1.magenta.bold Context

    aside.notes: :markdown
      * lidenskapen og interessen er der
      * studert i årevis
      * Vi må bare sette en context
      * En arena for utfoldelse

  section
    h3.nocaps generating
    h2.blue.allcaps.bold a context:
    .test
    .fragment
      h3 Gather passionate people

    .fragment
      h4 ..in an inspiring
      h4.red.bold unrestricted
      h4 casual atmosphere

    aside.notes: :markdown
      * samle de med lidenskap
      * flytende målsetning og ikke definert vei frem
      * fjern alt eksternt press

  section(data-background='assets/images/synergy.jpg')
    h1.white.whiteglow Enjoy synergies
    
    aside.notes: :markdown
      * en kraftig plattform for synergier
      * stort potensiale for verdiskapning

  section
    h1.italic.cyan Capacity Building
    h3 Acquiring knowledge
    h3 Building skills

    aside.notes: :markdown
      * slik context vi kan skaffe kunnskap om nye teknologier
      * så vi henger med på utviklingen
      * holder oss relevant

  section
    h1.italic.cyan Stimulating talent
    h3 Unhindered flow of creativity and innovation
    h3 Holding on to talent

    aside.notes: :markdown
      * creativitet kan flyte fritt
      * ingen deadlines, inget leveransepress
      * det skaper entusiasme, gjør folk blide
      * våre kolleger i kikkerten til headhuntere
      * sett bort ifra gitte forutsetninger (konkurransedyktig lønn, goder) 
      * slike ting som skiller arbeidssteder
      * dette hjelper oss å beholde talentene

  section
    h1.italic.cyan Branding 
    h3 Open Up
    h3 Be Visible
    h3 Attract Talent
    
    aside.notes: :markdown
      * Deler prosjektene våre 
      * lærer bort gratis til studenter
      * viser at vi driver med noe spennende!
      * tiltrekke oss talenter
      * kraftig Rekrutteringsverktøy

  section
    h1.italic.cyan Networking
    h3 Knowledge & Experience Sharing

    aside.notes: :markdown
      * Inviterer likesinnede til disse arenaene
      * nok av tech-heads i Oslo (og på nettet)
      * deler erfaringer med andre
      * vi har lært mye av dem
      * mulighet til å lærer av våre erfaringer
      * open-source mentalitet
      * styrker vårt image utad

  section
    h1.italic.cyan Sales
    h3 Mitigating Risk -> Building Confidence
    h3 Leveraging New Technology
    h3 Triple Win

    aside.notes: :markdown
      * har testet fremoverlente løsninger i en sikker kontekst
      * dette gir oss selvtillitt
      * erfaring vi kan selge
      * kunden ønsker å være fremoverlent
      * dette igjen gir mulighet for mersalg

section
  section
    h1 The How

  section
    ol
      li.cyan Identify, support and recognize the enthusiasts
      li.fragment.blue Facilitate
      li.fragment.orange Stay open to outside impulses

section
  section(data-background-color='#2aa198')
    h1.bold Identify, Support, recognize

  section(data-background='assets/images/annerkjenn.jpg')
    aside.notes: :markdown
      * Støtte og annerkjennelse fra topp-ledelsen på andre Hackfest, her Røy Grønnli (Adm. Dir. Accenture Norge)
      *  Roy informerte også alle ansatte om Hackfesten under Accenture årsmøte
      *  For å referere til Social Styles – innovative personer er oftest Expressive. De drives av resultater og annerkjennelse
      *  Sørg for at dette spiller positivt i forbindelse med årlige evalueringer og forfremmelser
      *  Gulrot – tur til San Francisco

section
  section(data-background-color='#268bd2')
    h1.bold Facilitate

  section(data-background='assets/images/kontorplass.jpg')
    aside.notes: :markdown
      Budskap
      * Tilrettelegg kontorplasser


  section(data-background='assets/images/mat.jpg')
    aside.notes: :markdown
      * Uten mat og drikke duger heltene ikke, her under en av Hackfestene
      * Dette skaper også et avbrekk i arbeidet der vi tar en kort presentasjon av arbeidet for hverandre

  section(data-background='assets/images/utstyr.jpg')
  aside.notes: :markdown
    * Investering – innkjøp av «leketøy» som Raspberry Pi og LabelPrinter

  section
    h2.blue.bold Lower the threshold for participation

    .fragment.inline
      img.noshadow.noborder(src="assets/images/github.png")
      h4 Keep code centralized and easily accessible

    .fragment.inline
      img.noshadow.noborder(src="assets/images/logoJIRA.png")
      h4 Keep tasks organized and accessible

    aside.notes: :markdown
      * Document how to get started and run the code in each repository
      * Keep your issues updated in Jira. We have used Jira cloud service. Cheap and effective way of tracking issues
      * Keep your code in one place, easy accessible and supporting multiple user working at same repository. We have established acntech account where all apps are placed within

  section
    h2.blue.bold Hackfest #1

    .fragment
      img.inline(src="assets/images/kontor.jpg")
      .inline.top 
        h3 Use Case 1
        p Create applications & widgets for monitors in our open office space

    .fragment
      img.inline(src="assets/images/besok-lapp.png")
      .inline.top 
        h3 Use Case 2
        p Create visitor registration system

    aside.notes: :markdown
      * 1) problemløsning gjennom use cases og 2) utforskning
      * Vi fikk forespørsel om å lage to løsninger for det nye kontoret:
      * 1. løsning for å publisere innhold til de 14 infoskjermene som er fordelt på 3 etasjer
      * 2. løsning for å registrere eksterne besøkende

  section
    img.top.inline.noborder.noshadow(src='assets/images/Twitter-logo.png', width=200)  
    img.inline(src='assets/images/hashtegn.jpg')
    img.inline.noborder.noshadow(src='assets/images/facebook.png', width=200)

    aside.notes: :markdown
      * Sørg for å spre ordet om eventene 
      * Bruk sosiale media media (twitter, facebook, LinkedIn), mails og intranett
      * Her: åpen fagkveld på Teknologihuset og bruk av #acntech hashtaggen

  section
    img.top.inline.noborder.noshadow(src='assets/images/Twitter-logo.png', width=200)  
    img.inline(src='assets/images/markedsforing.jpg')
    img.inline.noborder.noshadow(src='assets/images/facebook.png', width=200)

    aside.notes: :markdown
      * Markedsføring: bruk av Twitter under hackfesten
      * Dette bilde ble tatt kl 03.00 samme dag som vi skulle flytte inn i nye kontorlokaler

  section(data-background='assets/images/demo.jpg')

    aside.notes: :markdown
      * Deling av ideer og løsninger med andre er viktig for å få tilbakemeldinger, men ikke minst skape nye ideer
      * Her forklarer Rayner hvordan hans team har benyttet små Bluetooth USB pinner for å posisjonering i kontorlandskapet

  section(data-background='assets/images/ntnu.jpg')
    .whitebackground
      h1.bold Workshop @ NTNU
      h2 AngularJS, Bootstrap, NodeJS, MongoDB

  section(data-background='assets/images/workshop2.jpg')

  section
    h2.blue Planning is crucial
    h3.nocaps https://go.accenture.com/hackfestX 
    img.top.inline.noborder.noshadow(src='assets/images/kalender.png')

    aside.notes: :markdown
      * Sett av tid i kalender god tid i forveien
      * Gjør det enkelt å melde seg på


section
  section(data-background-color='#cb4b16')
    h1.bold Stay open 

  section(data-background='assets/images/student.jpg')
    aside.notes: :markdown
      * Inviter andre utenfor organisasjonen for nye impulser og ideer. Dette smitter veldig på andre
      * Simen (til høyre) er student og deltok på Hackfest #3
      * Tips: ikke inviter mer enn par studenter på Hackfestene siden det krever litt oppfølging fra ansatt

  section(data-background='assets/images/aapen_fagkveld.jpg')
    aside.notes: :markdown
      * Her fra åpen fagkveld på Teknologihuset hvor 80 deltakere har møtt opp for å høre om hvordan oppnå god brukeropplevelse
      * Accenture er den første samarbeidspartneren til Teknologihuset

section
  section
    h1.bold.blue Results
    ol
      li Established climate for creativity & innovation
      li Change in attitude and engagement
      li Apps that solve daily problems
      li Happier customers, more exciting projects

    aside.notes: :markdown
       * deltagere på hackfest opp
       * eksterne foredrag og interne opp
       * Forespørsler fra skoler opp
       * For første gang (på flere år) kjørt åpne fagkvelder med bra oppslutning
       * Sammenlignet med tidligere år: faglig aktivitet langt høyere

  section
    h1.bold.red Key Takeaways
    h2.bold Why
    ol
      li Create arenas for development, innovation and creativity
      li Branding and Networking
      li Sales

  section
    h1.bold.red Key Takeaways
    h2.bold How
    ol
      li Identify, Support, and Recognize
      li Facilitate
      li Stay Open
  
section
  section
    h3
      a(href='http://myOpinion.accenture.com') myOpinion.accenture.com
    img.noborder(src='assets/images/myopinion.jpg')
