section
  h3.nocaps Hvordan tilrettelegge for
  h1 Intrapenørskap
  h3.nocaps i større bedrifter
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@???](http://twitter.com/agresvig/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  