section
  h3.nocaps Facilitating
  h1 Intrapeneurship
  h3.nocaps in (larger) organizations
  hr
  .contact
    span: :markdown
      [Aksel Gresvig](mailto:aksel.gresvig.jr@accenture.com) ([@AGresvig](http://twitter.com/agresvig/))
    span: &amp;
    span: :markdown
      [Ismar Slomic](mailto:ismar.slomic@accenture.com) ([@islomic](http://twitter.com/islomic/))
  
  .logo
    a(href="http://www.accenture.com"): img.noshadow.noborder(src='assets/images/accenture_logo.png', title="Accenture", width=200)

  .place 
    small Software 2014, Oslo 27/02/2014

  
section
  h2 Agenda
  ul
    li A little background (why)
    li Intrapeneurship at Accenture (how)
    li Results/Conclusion

  aside.notes: :markdown
    * Innledning - Hvorfor? **~5 min**
      - Stimulere talenter, beholde (Tøft marked)
      - Rekruttering
      - Stay relevant - henge med teknologisk
      - Salg - kunne selge innovative løsninger
    * Hvordan? **25 min**
      - Hackfest - **Hoveddtema 10 min**
      - Åpne opp - Fagkvelder, eksterne konferanser, GitHub **10 min**
    * Avslutning/Konklusjon **10 min**
      - Hva har vi fått til?
      - Resultater

section
  section
    h2 A little background 
    h3 (why)
    
  section(data-background='assets/images/accenture_software_overlay.jpg')
    
  section
    h1 Software & Technology
    h2.fragment Is our product

  section
    h3.nocaps creating
    h1.bold.allcaps.magenta ARENAS
    h2.fragment.current-visible for innovation and creativity
    h2.fragment How?

  section
    h4 Facilitating
    h1.cyan.allcaps.bold Intrapeneurship

  section
    h3.nocaps generating
    h2.blue.allcaps a context
    ul
      li.fragment Gather passionate people
      li.fragment ..in a passionate, casual atmosphere

  section(data-background='assets/images/synergy.jpg')
    h1.cyan.whiteglow Enjoy synergies
    

  section(data-background="assets/images/people.jpg")
    h1.orange.bold Our challenge
    h2.fragment.orange.whitebackground Passion + Context

  section
    img.noborder(src="/assets/images/keep-calm-and-stay-relevant.jpg")
    
  section
    h1.italic.cyan Acquiring knowledge
    h1.italic.cyan Building skills

  section
    h1.italic.cyan Stimulating talent
    h3.fragment Unhindered flow of creativity and innovation
    h3.fragment Holding on to talent

  section
    h1.italic.cyan Branding 
    h3.fragment Open Up
    h3.fragment Be Visible
    h3.fragment Attract Talent
    
  section
    h1.italic.cyan Networking
    h3.fragment Knowledge & Experience Sharing

  section
    h1.italic.cyan Sales
    h3.fragment Mitigating Risk -> Building Confidence
    h3.fragment Leveraging New Technology
section
  section
    h1 HVORDAN

  section
    h1 Hackfest

  section
    img.noborder(src="/assets/images/human-tree.jpg")

  section
    h2 Åpne opp
    ul
      li.fragment Fagkvelder
      li.fragment GitHub
      li.fragment Skole-bidrag

  section
    h2 Bygge kompteanse
    ul
      li.fragment Workshops
      li.fragment Eksterne konferanser
      li.fragment Kurs

section 
  section
    h1 Avslutning / Konklusjon

  section
    h2 Resultater
    div: :markdown
     * deltagere på hackfest opp
     * eksterne foredrag og interne opp
     * Forespørsler fra skoler opp
     * For første gang (på flere år) kjørt åpne fagkvelder med bra oppslutning
     * Sammenlignet med tidligere år: faglig aktivitet langt høyere
